.container:hover {
    background-color: #e2e7e9;
    cursor: pointer;
}

.container:last-child div {
    border-bottom: none;
}

.card {
    border-bottom: 1px solid #bcb8b866;
}

.iconRotate {
    transform: rotate(180deg);
}

.name {
    width: 200px;
}

@media screen and (min-width: 600px) {
    .container {
        margin-bottom: 1rem;
        width: 49%;
    }

    .card {
        border: 1px solid #bcb8b866 !important;
    }

    .name {
        width: 134px;
    }
}

@media screen and (min-width: 850px) {
    .name {
        width: 200px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 100%;
    }

    .name {
        width: 290px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 49%;
    }

    .name {
        width: 130px;
    }
}

@media screen and (min-width: 1280px) {
    .name {
        width: 145px;
    }
}