.container:hover {
    background-color: #e2e7e9;
    cursor: pointer;
}

.container:last-child div {
    border-bottom: none;
}

.card {
    border-bottom: 1px solid #bcb8b866;
}

.iconRotate {
    transform: rotate(180deg);
}