
.transition {
    transition: all ease-in 1s;
}

.rootHomePage {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.postsPanel {
    background: #cccccc45;
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 992px) {
    .rootHomePage {
        padding-left: 7%;
        padding-right: 7%;
    }

    .rootOthersPage {
        width: calc(100% - 400px);
    }
}