.root > span {
    height: 208px !important;
    width: 100% !important;
}

@media screen and (min-width: 600px) {
    .root > span {
        height: 173px !important;
        width: 173px !important;
    }
}