.paper {
    margin: 32px 16px;
    width: 90%;
}

.addImageContainer {
    height: 223px;
}

.addImageIcon {
    font-size: 4rem;
}

@media screen and (min-width: 600px) {
    .paper {
        width: 450px;
    }
}