* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

#root {
  background-color: #F2F4FF;
  min-height: 100vh;
}

.remove-root-padding {
  padding: 0 !important;
}

.remove-root-bg {
  background-color: #FFF !important;
}

.user-message {
  background-color: #D9E5E9;
}

.other-message {
  background-color: #48B0D0;
}

@media screen  and (min-width: 900px){
  #root {
    display: flex;
    padding-left: 60px;
  }

  .sub-root {
    box-shadow: 0px 43px 50px 9px rgb(0 0 0 / 6%);
    width: 450px;
  }
}
