.content > span {
    height: 72px !important;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100px !important;
}

.contentWithValue > span {
    border-radius: 0 0 0 0.5rem !important;
}

.comment {
    width: 203px;
}

.description {
    width: 100px;
}

@media screen and (min-width: 600px) {
    .content > span {
       height: 152px !important;
        width: 194px !important;
    }
}

@media screen and (min-width: 900px) {
    .comment {
        width: 260px;
    }

    .content > span {
        height: 72px !important;
        width: 100px !important;
    }

    .description {
        width: 160px;
    }
}