.content > span {
    height: 72px !important;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100px !important;
}

.contentWithValue > span {
    border-radius: 0 0 0 0.5rem !important;
}

.comment {
    width: 203px;
}

.description {
    width: 100px;
}