.paper {
    margin: 32px 16px;
    width: 90%;
}

.dialogList {
    height: 350px;
}

.emptyMessages {
    height: 100% !important;
}

@media screen and (min-width: 900px) {
    .paper {
        max-width: 900px !important;
        width: auto;
    }

    .imageContainer > span {
        height: 100% !important;
        width: 400px !important;
    }

    .imageContainer > span img {
        object-fit: contain !important;
    }

    .dialogContent {
        width: 430px;
    }
}