.card {
    border-bottom: 1px solid #bcb8b866;
}

.iconRotate {
    transform: rotate(180deg);
}

.avatar {
    
}

.friendAvatar {
    height: 50px;
    width: 50px;
}

@media screen and (min-width: 600px) {
    .card {
        border: 1px solid #bcb8b866;
        width: 48%;
    }
}

@media screen and (min-width: 900px) {
    .card {
        border: none;
        border-bottom: 1px solid #bcb8b866;
        width: 100%;
    }
}