.card {
    border-bottom: 1px solid #bcb8b866;
    height: fit-content;
}

.iconRotate {
    transform: rotate(180deg);
}

.friendAvatar {
    height: 50px;
    width: 50px;
}

.name {
    width: 200px;
}

@media screen and (min-width: 600px) {
    .card {
        border: 1px solid #bcb8b866;
        width: 48%;
    }

    .name {
        width: 108px;
    }
}

@media screen and (min-width: 768px) {
    .name {
        width: 190px;
    }
}

@media screen and (min-width: 900px) {
    .card {
        border: none;
        border-bottom: 1px solid #bcb8b866;
        width: 100%;
    }

    .nameHome {
        width: 160px !important;
    }
}

@media screen and (min-width: 1280px) {
    .name {
        width: 235px;
    }
}