
.postsContainer {
    height: 83vh;
    scroll-behavior: smooth;
    transition: margin ease-in 1s;
}

.button {
    left: 50%;
    transition: opacity ease-in 1s;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 900px) {
    .postsContainer {
        height: 80vh;
    }

    .postsContainerOthers {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media screen and (min-width: 990px) {
    .postsContainer {
        padding-left: 7% !important;
        padding-right: 7% !important;
    }
}

@media screen and (min-width: 1080px) {
    .postsContainer {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .postsContainerOthers {
        padding-left: 7% !important;
        padding-right: 7% !important;
    }
}