.root {
    height: 208px;
    width: 50%;
}

.root > span {
    height: 100% !important;
    width: 100% !important;
}

.iterations {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 9999px;
    height: 0;
    left: 50%;
    top: 50%;
    transform: scale(0);
    transition: all ease-in-out 1s;
    width: 0;
}

.iterationsShow {
    border-radius: 0;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    width: 100%;
}

@media screen and (min-width: 600px) {
    .root {
        height: 250px;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 900px) {
    .root {
        margin-bottom: 1.4rem;
        width: 31.333%;
    }
}

@media screen and (min-width: 1280px) {
    .root {
        height: 270px;
        width: 270px;
    }
}