.root {
    height: 208px;
    width: 50%;
}

.root > span {
    height: 100% !important;
    width: 100% !important;
}

@media screen and (min-width: 600px) {
    .root {
        height: 250px;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 900px) {
    .root {
        margin-bottom: 1.4rem;
        width: 31.333%;
    }
}

@media screen and (min-width: 1280px) {
    .root {
        height: 270px;
        width: 270px;
    }
}